*{
  margin:0;
  
}

body {
    background-color: rgb(212, 212, 212);
}

#header{
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Impact';
    background-color: green;
    color: black;
    width: 100%;
    height: 80px;
    border-bottom: solid white 5px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}



tr:hover{
  cursor: pointer;
}
td{
  padding: 3px;
}



.col1, .col2, .col3 {
  background-color: white;
  padding: 5px;
  box-shadow: 5px 5px 50px grey;
  overflow: auto;
  max-height: 75vh;
  margin-top: 5px;
}
.col1 {
  border: 5px solid hsl(0, 82%, 52%);
  
}
.col2 {
  /*margin-right: 0;
  margin-left: 200px;*/
  
  border: solid rgb(57, 179, 209) 5px;
  display: none;
  /*align-self: start;*/
  
}

.col3 {
  /*margin-left: 0;
  margin-right: 0;*/
  border: solid rgb(57, 179, 209) 5px;
  display: none;
  
}

.row1, .row2{
  background-color: white;
  padding: 5px;
  box-shadow: 5px 5px 50px grey;
  overflow: auto;
  max-height: 70vh;
  display: none;
}

.row1{
  margin-bottom: 20px;
  border: solid rgb(143, 209, 57) 5px;
  
}

.row2{
  margin-bottom: 20px;
  border: solid rgb(209, 194, 57) 5px;
}





.fancyButton, .teamDetailButton, .playerDetailButton{
  border:none;
  position:relative;
  height: 20hv;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 49%;
}
.fancyButton{
  background:rgb(57, 179, 209);
  color:#fff;
}

.teamDetailButton{
  background:rgb(143, 209, 57);
  color:#fff;
  margin-left: 20vw;
}

.playerDetailButton{
  background:rgb(209, 194, 57);
  color:#fff;
  margin-left: 20vw;
}


.fancyButton:hover{
  background:#fff;
  color:rgb(57, 179, 209);
}

.teamDetailButton:hover{
  background:#fff;
  color: rgb(143, 209, 57);
  
}

.playerDetailButton:hover{
  background:#fff;
  color:rgb(209, 194, 57);
  
}

.fancyButton:before,.fancyButton:after,.teamDetailButton:before,.teamDetailButton:after,.playerDetailButton:before,.playerDetailButton:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  transition:400ms ease all;
}

.fancyButton:before,.fancyButton:after{
  background: rgb(57, 179, 209);
}

.teamDetailButton:before,.teamDetailButton:after{
  background: rgb(143, 209, 57);
}

.playerDetailButton:before,.playerDetailButton:after{
  background: rgb(209, 194, 57);
}


.fancyButton:after,.teamDetailButton:after,.playerDetailButton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.fancyButton:hover:before,.fancyButton:hover:after, .teamDetailButton:hover:before,.teamDetailButton:hover:after, .playerDetailButton:hover:before,.playerDetailButton:hover:after{
  width:100%;
  transition:800ms ease all;
}



/*
.flex-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  
  
}

.col1a, .col2a, .col3a {
  background-color: white;
  padding: 10px;
  margin: 5px;
  margin-top: 50px;
  box-shadow: 5px 5px 50px grey;
  overflow: auto;
  max-height: 70vh;
}
.col1a {
  border: 5px solid hsl(0, 82%, 52%);
  margin-right: 0;
  margin-left: 100px;
}
.col2a {
  margin-right: 0;
  margin-left: 200px;
  border: solid rgb(57, 179, 209) 5px;
  border-right: solid rgb(57, 179, 209) 4px;
  display: visible;
  /*align-self: start;
  
}

.col3a {
  margin-left: 0;
  margin-right: 0;
  border: solid rgb(57, 179, 209) 5px;
  border-left: 0;
  display: visible;
  
}






#down{
  position: fixed;
}

#up{
  position: fixed;
  margin-top: 30%;
}
*/