<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/stylesheet.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.js"></script>
  <script src="js/javas.js"></script>

</head>


<body>

  <div id="header">
    <h1>Football Page</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 mr-4 col1">

        <h1>Competitions</h1>

        <div class="bundesliga"></div>


      </div>
      <div class="col-md-4 col2">
          <button class="fancyButton" onclick="loadTeamData()">Teams</button>
          <button class="fancyButton" onclick="loadTable()">Table</button>
        <div class="teams">
          
        </div>
      </div>
      <div class="col-md-4 col3">
          
      </div>


    </div>


    <div class="row row1">
        <button class="teamDetailButton" onclick="backToMenu()">Back to leagues</button>
        <div class="col teamDetail">
          
              <h1>There was an error with loading the data!</h1>
              

        </div>

      </div>

      <div class="row row2">
          <button class="playerDetailButton" onclick="backToMenu()">Back to leagues</button>
          <div class="col playerDetail">
            
                <h1>There was an error with loading the data!</h1>
                
  
          </div>

        </div>

  </div>


  <!--<div class="flex-grid">

    <div class="col1a">
      
      <button id="down" onclick="down()">Down</button>
      <button id="up" onclick="Up()">Up</button>
      <h1>Competitions</h1>

      <div class="bundesliga"></div>
      <div class="premier"></div>
      <div class="serieA"></div>
      <div class="seria"></div>
      <div class="championship"></div>
      <div class="uefaCha"></div>
      <div class="euroCha"></div>
      <div class="ligue"></div>
      <div class="eredivise"></div>
      <div class="primeira"></div>
      <div class="primera"></div>
      <div class="fifa"></div>

    </div>
    <div class="col2a">
      <button class="fancyButton" onclick="loadTeamData()">Teams</button>
      <button class="fancyButton" onclick="loadTable()">Position table</button>
      <div class="teams">

      </div>
    </div>
    <div class="col3a">

    </div>

  </div>-->

</body>


</html>

<script id="competitions-template" type="text/x-handlebars-template">
 <!-- <h1> Competitions </h1> -->
  <table>
  {{#result}}
    <tr data-competitionId={{id}} ><td>{{name}}</td></tr> 
  {{/result}}
</table>
</script>

<script id="table-template" type="text/x-handlebars-template">
  <h1> Table </h1>
  <table>
    <tr><td>Pos</td>  <td></td> <td>Team</td>  <td>Points</td> </tr>
  {{#result}}
    <tr data-teamId={{team.id}}><td >{{position}}</td>  <td><img src={{team.crestUrl}} width="15px" height="15px"> </td> <td>{{team.name}}</td> <td>{{points}}</td>  </tr>
  {{/result}}
</table>
</script>

<script id="teams-template" type="text/x-handlebars-template">
  <h1> Teams </h1>
  <table>
  {{#result}}
    <tr data-teamId={{id}}><td><img src={{crestUrl}} width="15px" height="15px"> </td><td>{{name}}</td> </tr>
  {{/result}}
</table>
</script>

<script id="matches-template" type="text/x-handlebars-template">
  <h1> Matches </h1>
  <table>
      <tr><td>Home team</td> <td></td> <td>Away team</td> </tr>
  {{#result}}
    <tr ><td data-teamId={{homeTeam.id}}>{{homeTeam.name}}</td> <td>:</td> <td data-teamId={{awayTeam.id}}>{{awayTeam.name}}</td></tr>
  {{/result}}
</table>
</script>

<script id="team-detail" type="text/x-handlebars-template">
  {{#teamname}}
  <h1> {{name}} </h1>
  {{/teamname}}
  <table>
     
  {{#result}}
    <tr data-playerId={{id}}><td>{{name}}</td></tr>
  {{/result}}
</table>
</script>

<script id="player-detail" type="text/x-handlebars-template">
  {{#result}}
  <h1> {{name}} </h1>
  
  <table>
    <tr><td>First name:</td><td>{{firstName}}</td></tr>
    <tr></tr><td>Last name:</td><td>{{lastName}}</td></tr>
    <tr></tr><td>Date of birth:</td><td>{{dateOfBirth}}</td></tr>
    <tr></tr><td>Nationality:</td><td>{{nationality}}</td></tr>
    <tr></tr><tr></tr><td>Position:</td><td>{{position}}</td></tr>
    <tr></tr><td>Shirt number:</td><td>{{shirtNumber}}</td></tr>
  </table>
  {{/result}}

</script>